* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow: hidden;

  background: black;
}

.experience {
  position: fixed;
  width: 100vw;
  height: 100vh;
}

#experience,
#tv-screen {
  pointer-events: none;
}

#css {
  cursor: pointer;
  z-index: 1;
}

#cssMonitor {
  cursor: pointer;
  z-index: 2;
}

#monitor {
  z-index: 4;
}

#tv {
  z-index: 3;
}
